.__ee
  figure
    display: inline-block
    text-align: center
    animation: ani 8s ease infinite

@keyframes ani
  0%
    transform: scale(1,1)
  50%
    transform: scale(1.06,1.06)
  100%
    transform: scale(1,1)
